# TypeScript source files
src/
__tests__/
example.ts

# Build configs
tsconfig.json
jest.config.js

# Tests
*.test.ts
*.spec.ts

# Misc
*.log
node_modules/
dist/**/*.map
.npmignore
.gitignore
.vscode/

src/example.ts
